<!-- /home/blue/webace/library/components/marketing-sections/double-feature-with-icons/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketing sections | Double feature with icons</title>
  <link rel="stylesheet" media="screen" href="/library-utilities.css">
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="cTextImageHero">
		<div class="cTextImageHero__description">
      <h1 class="cTextImageHero__h1">Hero title goes here</h1>
      <h2 class="cTextImageHero_h2">I'm baby sustainable whatever neutra flexitarian freegan. Chambray meggings trust fund, selvage </h2>
    </div>
    <div class="cTextImageHero__media">
      <img class="cTextImageHero__img" src="/images/image-sm.png" alt="Boss image">
    </div>
  </div>
</body>
</html>

