<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breadcrumbs | Separated by chevrons</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
</head>
<body>
  <div class="separated-by-chevrons">
    <div class="separated-by-chevrons__wrapper">
      <ol class="separated-by-chevrons__list">
        <li class="separated-by-chevrons__item"><a href="">Account</a></li>
        <span class="separated-by-chevrons__icon"></span>
        <li class="separated-by-chevrons__item"><a href="">Notifications</a></li>
        <span class="separated-by-chevrons__icon"></span>
        <li class="separated-by-chevrons__item"><a href="">Security</a></li>
      </ol>
    </div>
  </div>
</body>
</html>
