<!-- /home/blue/webace/library/components/... /text-aligned-left-bg-img/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketing heros | Tex aligned left with background image</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="text-aligned-left-bg-img">
		<div class="wrapper">
			<div class="hero-wrapper media-bg">
				<div class="media">
					<div class="hero-image"></div>
				</div>				
				<div class="body">
					<header class="hero-header">
						<h2 class="title">I'm baby sustainable whatever neutra flexitarian freegan. Chambray meggings trust fund, selvage</h2>
						<p class="subtitle">We are a small design and branding firm with deep experience.</p> 
						<p class="subtitle">We’d love to help you develop your authentic brand.</p>
					</header>
					<div class="button-wrapper">
						<button class="btn--primary" type="button">Sign up</button>
						<button class="btn--secondary-1" type="button">Learn more...</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
