<!DOCTYPE html>
<html lang="en" target="_blank">
<head>
  <meta charset="UTF-8" target="_blank">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" target="_blank">
  <title>Component Library | Modal with Carousel</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css" target="_blank">
  <script src="/assets/js/carousel.js"></script>
  <!-- <script src="/assets/js/carousel.js"></script> -->
  </head>
  <body>

    <div class="modal-carousel">
      <div class="mdl-dark-shim-bg">

        <header class="top-banner">
          <div class="top-banner-inner">
            <p>Find out what's going on at Wombat Coffee each month. Sign up for our newsletter:
              <button id="open" type="button">Sign up</button>
            </p>
          </div>
        </header>
        <!-- modal  -->
        <div class="modal" id="modal" role="dialog" aria-modal="true">
          <div class="backdrop"></div>
          <div class="body">
            <!-- modal body  -->
            <button class="modal-close" id="close" type="button">close</button>
            <div class="carousel-001">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                        <img src="/assets/images/image1.png">
                        <div class="text">Caption Text</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="/assets/images/image2.png">
                        <div class="text">Caption Two</div>
                    </div>


                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="/assets/images/image3.png">
                        <div class="text">Caption Three</div>
                    </div>

                    <a class="prev">❮</a>
                    <a class="next">❯</a>


                    <div style="text-align:center">
                        <span class="dot" data-slide="1"></span> 
                        <span class="dot" data-slide="2"></span> 
                        <span class="dot" data-slide="3"></span> 
                    </div>
                </div>
            </div>

          </div> <!-- /.modal-body -->
        </div> <!-- /.modal -->
        <main class="container">
          <div class="col-main">
            <nav>
              <div class="dropdown" id="dropdown">
                <button type="button" class="dropdown-toggle" id="dropdown-toggle">Main Menu</button>
                <div class="dropdown-menu">
                  <ul class="submenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/coffees">Coffees</a></li>
                    <li><a href="/brewers">Brewers</a></li>
                    <li><a href="/specials">Specials</a></li>
                    <li><a href="/about">About us</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            <h1>Wombat Coffee Roasters</h1>
          </div>

          <aside class="col-sidebar">
            <div class="affix">
              <ul class="submenu">
                <li><a href="/">Home</a></li>
                <li><a href="/coffees">Coffees</a></li>
                <li><a href="/brewers">Brewers</a></li>
                <li><a href="/specials">Specials</a></li>
                <li><a href="/about-us">About us</a></li>
              </ul>
            </div>
          </aside>
        </main>
      </div>
    </div>
	<script type="text/javascript">
		const button = document.getElementById('open');
		const close = document.getElementById('close');
		const modal = document.getElementById('modal');

			button.addEventListener('click', function(event) {
				modal.classList.add('is-open');
				document.body.classList.add("no-scroll");
			});

		close.addEventListener('click', function (event) {
			modal.classList.remove('is-open');
			document.body.classList.remove("no-scroll");
		});

		const dropdownToggle = document.getElementById("dropdown-toggle");
		const dropdown = document.getElementById("dropdown");

		dropdownToggle.addEventListener("click", function (event) {
			dropdown.classList.toggle("is-open");
		});
	</script>
	
  </body>
  </html>