<!-- /home/blue/webace/library/components/sign_in_forms/simple-card/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in forms | Simple card with text area</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="form-simple-textarea">
		<div class="wrapper">
			<header class="form-header">
				<h1>Form title here</h1>
				<p>subheading goes here. could be one or more lines</p>
			</header>		
			<form class="form">
				<div class="form-body">
					<div class="field-wrapper">
						<div class="input-wrapper">
							<label class="input-label" for="name">Name (4 to 10 characters)</label>
							<input type="text" id="name" name="name" required minlength="4" />
						</div>
						<div class="input-wrapper">
							<label class="input-label" for="email">Email address</label>
							<input type="text" id="email" name="email" required minlength="4" />			
						</div>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="subscribe" name="subscribe" value="newsletter" />
						<label class="checkbox-label" for="subscribe">Newsletter Signup</label>
					</div>
					<div class="textarea-wrapper">
						<label for="message" class="desc">Message</label>
						<textarea name="message" row="50" cols="42"></textarea>
					</div>
					<div class="button-wrapper">
						<button class="button" type="button">Submit this !</button>
					</div>
				</div>
				<div class="form-footer">
					<p>I'm baby godard synth keffiyeh narwhal gastropub.</p>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
