<!-- /home/blue/webace/library/components/inputs/connected-placeholders/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Connected placeholders</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="wrapper input-connected-placeholders">
		<ul class="inputs-wrapper">
			<li><input type="text" placeholder="Placeholder" class="input first-item"></li>
			<li><input type="text" placeholder="Placeholder" class="input last-item"></li>
		</ul>
    </div> <!-- input-connected-placeholders -->
</body>
</html>
