@layer modules.input-connected-placeholders {

	.input-connected-placeholders .wrapper {}
	
	.inputs-wrapper { position: relative; list-style-type: none; }

	.input {
		width: 350px; 
		max-width: 350px;
		height: 2.55rem;
		outline: none; 
		padding-inline: 10px;
		background-color: var(--white); 	
		font-family: var(--font-family-label);
		font-size: var(--font-size-label);
		color: var(--gray-light); }
	
	.inputs-wrapper .first-item {
		border: 1px solid var(--gray-light);
		border-start-start-radius: var(--size-radius-sm);
		border-start-end-radius: var(--size-radius-sm);
}

	.inputs-wrapper .last-item {
		border: 1px solid var(--gray-light);
		border-start-start-radius: 0;
		border-end-start-radius: var(--size-radius-sm);
		border-end-end-radius: var(--size-radius-sm);}

	.inputs-wrapper .input[type="text"]:focus {
		box-shadow: 0px 2px 7px 1px var(--gray-light); }
}
