# Ignore everything
*

# But not these directories
!components/
!components/**

!patterns/
!patterns/**

!scripts/
!scripts/**



# And not these files
!README.md
!.gitignore
!global.css
!reset.css
!theme.css
!utilities.css
!index.html
!main.css
!style.css
!library-utilities.css
