:root {
	--size1-15: calc(16 * 0.25);
	--size2-15: calc(16 * 0.5);
	--size3-15: calc(16 * 1);
	--size4-15: calc(16 * 1.5);
	--size5-15: calc(16 * 2);
	--size6-15: calc(16 * 3);
	--size7-15: calc(16 * 4);
	--size8-15: calc(16 * 6);
	--size9-15: calc(16 * 8);
	--size10-15: calc(16 * 12);
	--size11-15: calc(16 * 16);
	--size12-15: calc(16 * 24);
	--size13-15: calc(16 * 32);
	--size14-15: calc(16 * 40);
	--size15-15: calc(16 * 48);
	
	--font1-smallest: 12px;
	--font-smaller: 14px;
	--font-reg: 16px;
	--font-large: 20px;
	--font-larger: 
	--font-largest: 72px; 
}
