<!-- /home/blue/webace/library/components/inputs/bottom-border-with-button/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Bottom border with button</title>
  <link rel="stylesheet" media="screen" href="style.css">
<style>
</style>
</head>
<body>
	<div class="wrapper input-bottom-border-with-button">
		<div class="input-wrapper">
			<label class="input-label">Label</label>
			<input type="text" />
			<button type="button" class="input-button">Sign up</button>
		</div> 
    </div> <!-- input-bottom-border-with-button -->
</body>
</html>
