@layer modules.badge-solid-bg-small-rnd  {

.badge-solid-bg-small-rnd {

	.wrapper {}

	.badge {
		background-color: var(--gray-darkest);
		color: var(--gray-lighter);
		font-family: var(--font-family-badge);
		font-size: var(--font-size-badge);
		font-weight: 600;
		padding-block: 0.5rem;
		padding-inline: 0.75rem;
		border-radius: var(--size-radius-md);
		letter-spacing: var(--tracking-md); }

@scope(.badge-solid-bg-small-rnd) {
		
	.badge {
		background-color: var(--gray-darkest);
		color: var(--gray-lighter);
		font-family: var(--font-family-badge);
		font-size: var(--font-size-badge);
		font-weight: 600;
		padding-block: 0.5rem;
		padding-inline: 0.75rem;
		border-radius: var(--size-radius-md);
		letter-spacing: var(--tracking-md); }
		
	}
}
