<!-- /home/blue/webace/library/components/inputs/input-label-inside/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Input label inside</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="wrapper input-label-inside">
		<div class="input-wrapper">
			<label class="input-label">Label</label>
			<input type="text" name="" placeholder="Placeholder"/>
		</div>
    </div> <!-- input-label-inside -->
</body>
</html>
