<!-- /home/blue/webace/library/components/marketing-heros/centered-text-image-below/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketing heros | Centered text, image below</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>

	<div class="centered-text-image-below">
		<div class="wrapper">
			<div class="hero-wrapper">
				<header class="hero-header">
					<h2 class="title">The hero title goes here</h2>
					<p class="subtitle">We are a small design and branding firm with deep experience.</p> 
					<p class="subtitle">We’d love to help you develop your authentic brand.</p>
				</header>
				<div class="button-wrapper">
					<button class="btn--primary" type="button">Sign up</button>
					<button class="btn--secondary-1" type="button">Learn more...</button>
				</div>
				<div class="hero-image"></div>
			</div>
		</div>
	</div>	

</body>
</html>
