<!-- /home/blue/webace/library/components/footers/footer-multilayer-about/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footers | Site map with about section, social media icons and legal</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
</head>
<body>
	<div class="footer-multilayer-about">
		<div class="wrapper">
			<footer class="footer">
				<div class="cols-wrapper">
					<div class="link-cols">
						<div class="link-col">
							<h2 class="link-col-title">Disruptfa</h2>
							<ul class="link-list">
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							</ul>
						</div>

						<div class="link-col">
							<h2 class="link-col-title">Disruptfa</h2>
							<ul class="link-list">
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							</ul>
						</div>

						<div class="link-col">
							<h2 class="link-col-title">Disruptfa</h2>
							<ul class="link-list">
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							</ul>
						</div>

						<div class="link-col">
							<h2 class="link-col-title">Disruptfa</h2>
							<ul class="link-list">
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
								<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							</ul>
						</div>
					</div>
					<div class="about-col">
						<h2 class="link-col-title">Disruptfa</h2>
						<p class="text">I'm baby sustainable whatever neutra flexitarian freegan. Chambray meggings trust fund, selvage shoreditch meditation cliche green juice salvia pour-over readymade kinfolk. Raw denim man bun biodiesel keytar mustache farm-to-table af.</p>

							<ul class="social-media">
								<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
								<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
								<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
								<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
							</ul>

					</div>			
				</div>

				<div class="legal">
					<ul class="legal__link-list">
						<li class="list-item"><a href="" class="link">readymadekinfolkreadymadekinfolk</a></li>
					</ul>
					<ul class="legal__link-list">
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
