<!-- /home/blue/webace/library/components/vertical-navigation/full-background-with-active-highlighted/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vertical navigation | Full background with active highlighted</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="full-background-with-active-highlighted">
    <div class="full-background-with-active-highlighted__wrapper">
      
    </div>
  </div>
</body>
</html>
