<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preview cards | Left image with title, meta, excerpt and link</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="left-image-title-meta-excerpt-link">
    <div class="wrapper">
		<div class="card card-visual">
			<div class="media">
				<img src="/images/image-sm.png" alt="image">
			</div>
			<div class="body">
				<h2 class="card-title">I'm baby sustainable whatever</h2>
				<div class="meta-wrapper">
					<p class="card-meta"><span class="meta-icon"></span> shoreditch meditation cliche</p>
					<p class="card-excerpt">meggings trust fund, selvage shoreditch meditation cliche green juice salvia</p>
				</div>
				<a href="" class="card-link link-visual">link goes here</a>
			</div>
		</div>
    </div>
  </div>
</body>
</html>
