<!-- /home/blue/webace/library/components/footers/legal-stacked-navigation/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footers | Legal with stacked navigation</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
  <link rel="stylesheet" media="screen" href="/library-utilities.css">
<style>
</style>
</head>
<body>
	<div class="legal-stacked-navigation">
		<footer class="legal-stacked-navigation__footer">
			<div class="legal-stacked-navigation__legal">
					<ul class="legal-stacked-navigation__legal__list">
						<li class="legal-stacked-navigation__list-item">readymadekinfolkIm baby pok pok helvetica raclette, selvage succulents truffaut</li>
						<li class="legal-stacked-navigation__list-item">I'm baby pok pok helvetica raclette, selvage succulents truffaut</li>
					</ul>
       </div>
       <div class="legal-stacked-navigation__nav">
					<ul class="legal-stacked-navigation__nav__list">
						<li class="legal-stacked-navigation__list-item"><a class="legal-stacked-navigation__a" href="" class="link">readymadekinfolk</a></li>
					</ul>
					<ul class="legal-stacked-navigation__nav__list">
						<li class="legal-stacked-navigation__list-item"><a class="legal-stacked-navigation__a" href="" class="link">readymadekinfolk</a></li>
						<li class="legal-stacked-navigation__list-item"><a class="legal-stacked-navigation__a" href="" class="link">readymadekinfolk</a></li>
					</ul>
					<ul class="legal-stacked-navigation__nav__list">
						<li class="legal-stacked-navigation__list-item"><a class="legal-stacked-navigation__a" href="" class="link">readymadekinfolk</a></li>
						<li class="legal-stacked-navigation__list-item"><a class="legal-stacked-navigation__a" href="" class="link">readymadekinfolk</a></li>
					</ul>                    
			</div>
		</footer>
  </div>
</body>
</html>
