@layer modules.legal-stacked-navigation {

.legal-stacked-navigation {
    
	.legal-stacked-navigation__footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 350px;
    margin-inline: auto;
    padding-inline: 20px;
    
    @media screen and (min-width: 700px) {
      max-width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: space-between;}
      
    @media screen and (min-width: 1000px) {
      max-width: 100%;
      display: grid;
      grid-template-columns: 45% 45%;
      justify-content: space-between; }
	
	.legal-stacked-navigation__footer > * + * {
		margin-block-start: 45px;
    
    @media screen and (min-width: 700px) {
      margin-block-start: unset;}}    
	
  .legal-stacked-navigation__legal {}
  
  .legal-stacked-navigation__legal__list > * + * {
    margin-block-start: 25px;}
  
  .legal-stacked-navigation__legal__list {
    list-style-type: none;}
  
  .legal-stacked-navigation__nav {
  
    @media screen and (min-width: 1000px) {
      margin-block-start: unset;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;
      justify-items: center;}}
  
  .legal-stacked-navigation__nav > * + * {
    margin-block-start: 20px;
    
    @media screen and (min-width: 1000px) {
      margin-block-start: unset;}}

    
  .legal-stacked-navigation__nav__list {
    list-style-type: none;}
    
  .legal-stacked-navigation__nav__list > * + * {
    margin-block-start: 20px;}
  
  .legal-stacked-navigation__list-item {}

  
  .legal-stacked-navigation__a
}
