<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing pages | Three tier</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="three-tier">
    <div class="three-tier__wrapper">
      <div class="three-card-wrapper">
        <div class="three-tier-card three-tier-card-visual">
          <div class="three-tier-card__header">
            <h2 class="three-tier-card__title">I'mbabysustai</h2>
          </div>
          <div class="three-tier-card__body">
            <div class="three-tier-card__banner">
              <div class="three-tier-card__price">$500<span class="three-tier-card__price-info">nable</span></div>
            </div>

            <div class="three-tier-card__lists">
              <ul class="three-tier-card__list">
                <li class="three-tier-card__list-item"><span class="meta-icon"></span>I'm baby sustainable whatever</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>

        <div class="three-tier-card three-tier-card-visual">
          <div class="three-tier-card__header">
            <h2 class="three-tier-card__title">I'mbabysustai</h2>
          </div>
          <div class="three-tier-card__body">
            <div class="three-tier-card__banner">
              <div class="three-tier-card__price">$500<span class="three-tier-card__price-info">nable</span></div>
            </div>

            <div class="three-tier-card__lists">
              <ul class="three-tier-card__list">
                <li class="three-tier-card__list-item"><span class="meta-icon"></span>I'm baby sustainable whatever</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>

        
        <div class="three-tier-card three-tier-card-visual">
          <div class="three-tier-card__header">
            <h2 class="three-tier-card__title">I'mbabysustai</h2>
          </div>
          <div class="three-tier-card__body">
            <div class="three-tier-card__banner">
              <div class="three-tier-card__price">$500<span class="three-tier-card__price-info">nable</span></div>
            </div>

            <div class="three-tier-card__lists">
              <ul class="three-tier-card__list">
                <li class="three-tier-card__list-item"><span class="meta-icon"></span>I'm baby sustainable whatever</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
