@layer modules.three-tier  {

.three-tier {

	.wrapper {}

	.three-card-wrapper {

		@media screen and (min-width: 500px) {
			display: flex;
			justify-content: center;
			width: 100%;}
		}

	.three-card-wrapper > * + * {
		margin-block-start: 30px;
		
		@media screen and (min-width: 500px) {
			margin-block-start: 0;
			margin-inline-start: 15px;}}

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 300px;
		max-width: calc(var(--card-max-width-sm) - 10%);}
			
	.card-visual {
		background-color: var(--white);
		border: 2px solid var(--gray);
		border-radius: var(--size-radius-lg);}

	.header {
		width: 100%;
		border-bottom: 2px solid var(--gray);
	}
	
	.card-title {
		text-align: center;
		font-family: var(--font-family-body);
		font-size: var(--font-size-label);
		padding-block: 20px;}

	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-inline: 25px;
		padding-block: 25px;
		padding-block-end: 45px;}
	
	.lists + .cta {
		margin-block-start: 25px;}

	.price {
		display: flex;
		align-items: center;
		font-size: calc(var(--font-size-heading) + 120%);}

	.price-info {
		font-size: var(--font-size-label);
		margin-inline-start: 5px;
	}

	.lists {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.list {
		list-style-type: none;
	}

	.list-item {
		display: flex;
		justify-content: flex-start;
		margin-block-start: 15px;
	}
		
	.cta {
		display: block;
		width: 100%;}
	.cta-visual {
		text-decoration: none;
		padding-block: 5px;
		padding-inline: 15px;
		text-align: center;
		background-color: var(--gray-darker);
		color: var(--gray-lightest); 
		border: 0;
		border-radius: var(--size-radius-md);}




}
