@layer modules.beaver  {

h1 { text-align: center; }

.beaver {

	.beaver__wrapper { background-color: var(--white); }

	.double-row-nav {

		.double-row-nav__wrapper { 
			background-color: var(--gray-lightest); 
			width: 75vw; 
			margin-inline: auto; }

		.double-row-nav__header-nav {
			background-color: var(--white);

			@media screen and (min-width: 900px) {
				border: 2px solid black;
				width: 100%;
				display: flex;
				flex-direction: column; }}
				
		.double-row-nav__top-row {
			display: flex; 
			justify-content: space-between;
			border-bottom: 2px solid var(--gray);
			padding-inline: 25px; }
			
		.double-row-nav__sub-row {
			display: flex;
			justify-content: center; }
		.double-row-nav__nav-left {
			display: flex;
			align-items: center; }
		.double-row-nav__nav-left > * + * {
			margin-inline-start: 25px; }
		.double-row-nav__nav-right {
			display: flex;
			align-items: center; }
		.double-row-nav__nav-right > * + * {
			margin-inline-start: 25px;}
		
		.double-row-nav__media {
			height: 35px;
			width: 35px;
			margin-block: 15px;
			border-radius: var(--size-radius-circle); }
		
		.full-rounded[type="text"] {
			width: 180px; 
			height: 2rem;
			border: 2px solid var(--gray-lighter);
			border-radius: var(--size-radius-full);
			outline: none; 
			padding-inline: 20px;
			background-color: var(--white); }

		input[type="text"]:focus {
			box-shadow: 0px 1px 9px 0px var(--gray-lighter); }
		
		.double-row-nav__nav-links {
			display: flex;
			padding-block: 10px;  }
		.double-row-nav__link-list {
			list-style-type: none; }
		.double-row-nav__link-list > * + * {
			margin-inline-start: 25px; }


		.double-row-nav__nav-item {
			display: inline;}
				
		.double-row-nav__top-nav-icon {
			display: block;
			height: 30px;
			width: 30px;
			border-radius: var(--size-radius-circle); 
			background-color: var(--gray); }
	}

	.text-aligned-left-image-left {

		.wrapper { background-color: var(--gray-lightest); }

		.hero-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			@media screen and (min-width: 769px) { 
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 1vw;
				align-items: center;
				min-width: 75%;
				margin-inline: auto; }}
		
		/*  using -end because of flex order placing .media above .body  */
		.hero-wrapper > * + * {
			margin-block-end: 0px;
			
			@media screen and (min-width: 769px) {
				margin-block-end: 0; }}
				
		.media + .body {
			margin-block-end: 100px;}
				
		.body {
			order: 2; 
			width: 100%;
			
			@media screen and (min-width: 769px) {
				order: unset;
				display: flex;
				flex-direction: column;
				width: 100%; }}

		.body > * + * {
			margin-block-start: 45px;
			
			@media screen and (min-width: 769px) {
				display: flex;
				flex-direction: column;
				align-items: flex-start; }}

		
		.hero-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
			
			@media screen and (min-width: 769px) {
				align-items: unset;
				max-width: 90%; }}
		
		.hero-header > * + * {
			margin-block-start: 25px; }
		
		.title + .subtitle {
			margin-block-start: 50px; }
		
		.title {
			max-width: 300px;
			@media screen and (min-width: 769px) {
				max-width: 100%;
				font-size: var(--font-size-heading);
				text-align: left; }}
				
		.subtitle {
			text-align: left;
			max-width: 300px; 		
			font-size: var(--font-size-subheading); 
			font-family: var(--font-family-subheading);
						
				
			@media screen and (min-width: 769px) {
				max-width: 100%;
				text-align: left;
				font-size: var(--font-size-subheading); 
				font-family: var(--font-family-subheading); }}
				
		.hero-header + .button-wrapper {
			margin-block-start: 50px;
			
			@media screen and (min-width: 769px) {
				margin-block-start: 100px;}}
		
		.button-wrapper {
			display: flex;
			justify-content: center; 
			
			@media screen and (min-width: 769px) {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start; }}

		.button-wrapper > * + * {
			margin-inline-start: 20px; }
				
		.btn--primary {
			font-family: var(--font-family-button);
			font-size: var(--font-size-button-cta);
			color: var(--gray-lightest);
			background-color: var(--gray-darker); 
			letter-spacing: var(--tracking-xl);
			padding-inline: 2rem;
			padding-block: 0.75rem;
			/*border: 5px solid transparent; */
			border: 0;
			border-radius: var(--size-radius-md);
			cursor: pointer;
			transition: background-color var(--transition-fast) ease-in-out; 
			transition: color var(--transition-fast) ease-in-out; }
			
		.btn--primary:focus {
			background-color: var(--gray);
			color: var(--gray-darkest); }
		
		.btn--primary:hover {
			background-color: var(--gray);
			color: var(--gray-darkest);}
		
		.btn--primary:active {
			/*border-color: var(--gray-darkest); */
			color: var(--gray-darkest);
			box-shadow: 5px 5px 3px 5px var(--gray-light), 1px 0px 5px 5px var(--gray-lighter);}

		.btn--secondary-1 {
			font-family: var(--font-family-button);
			font-size: var(--font-size-button);
			color: var(--gray-darkest);
			background-color: var(--gray-lighter); 
			letter-spacing: var(--tracking-xl);
			padding-inline: 1.15rem;
			padding-block: 0.75rem;
			border: 0;
			border-radius: var(--size-radius-md);
			cursor: pointer;
			transition: background-color var(--transition-fast) ease-in-out; 
			transition: color var(--transition-fast) ease-in-out; 	}


		.media {
			order: 1;
			
			@media screen and (min-width: 769px) {
				order: unset; }}
				
		.hero-image {
			min-height: 350px;
			width: 98%;
			min-width: 300px;
			margin-inline: auto;
			background-image: url("/images/image-sm.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain; 
			
			@media screen and (min-width: 769px) {
				height: 500px;
				background-image: url("/images/image-lg.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;			}}
			}

.feature-list-with-image {

	.feature-list-with-image__wrapper {
		background-color: var(--gray-lightest); }
		

	.feature-list-with-image__double-pane-wrapper {
		width: 100%;		
		max-width: 900px;
		margin-inline: auto;
		padding-inline: 20px;

		@media screen and (min-width: 769px) {
			display: grid;
			grid-template-columns: 1fr 1fr; 
			background-color: var(--clear);
			padding-block: 100px; }}
	
	.feature-list-with-image__double-pane-wrapper > * + * {
		margin-block-start: 35px; 
		
		@media screen and (min-width: 769px) {
			margin-block-start: unset; }}
	
	.feature-list-with-image__pane-wrapper:last-child {
		margin-inline-start: -15px; }
	
	.feature-list-with-image__two-pane-list {
		display: none;
		height: 100%;
		width: 100%;
		background-image: url("/images/image.png");
		background-size: cover;
		background-position: center;
		
		@media screen and (min-width: 769px) {
			display: block; 
			border-start-start-radius: var(--size-radius-lg);
			border-end-start-radius: var(--size-radius-lg);
			box-shadow: 7px 0px 0px 0px var(--medium) inset, 0px 7px 0px 0px var(--medium) inset, 0px -7px 0px 0px var(--medium) inset ;	}}

	.feature-list-with-image__image-container {
		height: 400px;
		width: 400px;
		background-color: red;
		border-radius: 50%;
	}

	.feature-list-with-image__pane-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; }

	.feature-list-with-image__column-wrapper {
		padding-inline-start: 10px;
		padding-inline-end: 30px; }

	.feature-list-with-image__column-wrapper > * + * {
		margin-block-start: 25px; }

	.feature-list-with-image__content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
		background-color: var(--gray-lightest);
		height: 100%;
		width: 95%;
		margin-inline: auto;
		
		@media screen and (min-width: 769px) {
			margin-inline-end: -5px; }}
	
	.feature-list-with-image__content-wrapper header {
		margin-inline: 10px;
		line-height: 3rem;
		margin-bottom: 50px; }

	.feature-list-with-image__title {
		font-family: var(--font-family-heading);
		font-size: 4rem;
		margin-block: unset; }
		
	.feature-list-with-image__item-wrapper {
		display: grid;
		grid-template-columns: 1fr 80%;
		align-items: center; 
		justify-content: center; }
		
	.media {
		display: flex;
		justify-content: flex;}
	
	
	
	.feature-list-with-image__subtitle {
		margin-block: unset;
		font-family: var(--font-family-heading);
		font-size: var(--font-size-label); }
		
	.feature-list-with-image__subtitle-copy {
		font-family: var(--font-family-heading);
		font-size: var(--font-size-label);
		color: var(--gray-darkest); }
			
		.icon {
			display: block;
			height: 50px;
			width: 50px;
			background-image: url("/images/image.png"); 
			background-color: var(--gray);
			border-radius: var(--size-radius-circle); }
}
}
}