@layer modules.beaver  {

h1 { text-align: center; }

.beaver {

	.beaver__wrapper { 
		background-color: var(--white);
		height: 100vh; 
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.double-row-nav {

		.double-row-nav__wrapper { 
			background-color: var(--gray-lightest); 
			width: 75vw; 
			margin-inline: auto; }

		.double-row-nav__header-nav {
			background-color: var(--white);

			@media screen and (min-width: 900px) {
				border: 2px solid black;
				width: 100%;
				display: flex;
				flex-direction: column; }}
				
		.double-row-nav__top-row {
			display: flex; 
			justify-content: space-between;
			border-bottom: 2px solid var(--gray);
			padding-inline: 25px; }
			
		.double-row-nav__sub-row {
			display: flex;
			justify-content: center; }
		.double-row-nav__nav-left {
			display: flex;
			align-items: center; }
		.double-row-nav__nav-left > * + * {
			margin-inline-start: 25px; }
		.double-row-nav__nav-right {
			display: flex;
			align-items: center; }
		.double-row-nav__nav-right > * + * {
			margin-inline-start: 25px;}
		
		.double-row-nav__media {
			height: 35px;
			width: 35px;
			margin-block: 15px;
			border-radius: var(--size-radius-circle); }
		
		.full-rounded[type="text"] {
			width: 180px; 
			height: 2rem;
			border: 2px solid var(--gray-lighter);
			border-radius: var(--size-radius-full);
			outline: none; 
			padding-inline: 20px;
			background-color: var(--white); }

		input[type="text"]:focus {
			box-shadow: 0px 1px 9px 0px var(--gray-lighter); }
		
		.double-row-nav__nav-links {
			display: flex;
			padding-block: 10px;  }
		.double-row-nav__link-list {
			list-style-type: none; }
		.double-row-nav__link-list > * + * {
			margin-inline-start: 25px; }


		.double-row-nav__nav-item {
			display: inline;}
				
		.double-row-nav__top-nav-icon {
			display: block;
			height: 30px;
			width: 30px;
			border-radius: var(--size-radius-circle); 
			background-color: var(--gray); }
	}

	.text-aligned-left-image-left {

		.wrapper { background-color: var(--gray-lightest); }

		.hero-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			@media screen and (min-width: 769px) { 
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 1vw;
				align-items: center;
				min-width: 75%;
				margin-inline: auto; }}
		
		/*  using -end because of flex order placing .media above .body  */
		.hero-wrapper > * + * {
			margin-block-end: 0px;
			
			@media screen and (min-width: 769px) {
				margin-block-end: 0; }}
				
		.media + .body {
			margin-block-end: 100px;}
				
		.body {
			order: 2; 
			width: 100%;
			
			@media screen and (min-width: 769px) {
				order: unset;
				display: flex;
				flex-direction: column;
				width: 100%; }}

		.body > * + * {
			margin-block-start: 45px;
			
			@media screen and (min-width: 769px) {
				display: flex;
				flex-direction: column;
				align-items: flex-start; }}

		
		.hero-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
			
			@media screen and (min-width: 769px) {
				align-items: unset;
				max-width: 90%; }}
		
		.hero-header > * + * {
			margin-block-start: 25px; }
		
		.title + .subtitle {
			margin-block-start: 50px; }
		
		.title {
			max-width: 300px;
			@media screen and (min-width: 769px) {
				max-width: 100%;
				font-size: var(--font-size-heading);
				text-align: left; }}
				
		.subtitle {
			text-align: left;
			max-width: 300px; 		
			font-size: var(--font-size-subheading); 
			font-family: var(--font-family-subheading);
						
				
			@media screen and (min-width: 769px) {
				max-width: 100%;
				text-align: left;
				font-size: var(--font-size-subheading); 
				font-family: var(--font-family-subheading); }}
				
		.hero-header + .button-wrapper {
			margin-block-start: 50px;
			
			@media screen and (min-width: 769px) {
				margin-block-start: 100px;}}
		
		.button-wrapper {
			display: flex;
			justify-content: center; 
			
			@media screen and (min-width: 769px) {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start; }}

		.button-wrapper > * + * {
			margin-inline-start: 20px; }
				
		.btn--primary {
			font-family: var(--font-family-button);
			font-size: var(--font-size-button-cta);
			color: var(--gray-lightest);
			background-color: var(--gray-darker); 
			letter-spacing: var(--tracking-xl);
			padding-inline: 2rem;
			padding-block: 0.75rem;
			/*border: 5px solid transparent; */
			border: 0;
			border-radius: var(--size-radius-md);
			cursor: pointer;
			transition: background-color var(--transition-fast) ease-in-out; 
			transition: color var(--transition-fast) ease-in-out; }
			
		.btn--primary:focus {
			background-color: var(--gray);
			color: var(--gray-darkest); }
		
		.btn--primary:hover {
			background-color: var(--gray);
			color: var(--gray-darkest);}
		
		.btn--primary:active {
			/*border-color: var(--gray-darkest); */
			color: var(--gray-darkest);
			box-shadow: 5px 5px 3px 5px var(--gray-light), 1px 0px 5px 5px var(--gray-lighter);}

		.btn--secondary-1 {
			font-family: var(--font-family-button);
			font-size: var(--font-size-button);
			color: var(--gray-darkest);
			background-color: var(--gray-lighter); 
			letter-spacing: var(--tracking-xl);
			padding-inline: 1.15rem;
			padding-block: 0.75rem;
			border: 0;
			border-radius: var(--size-radius-md);
			cursor: pointer;
			transition: background-color var(--transition-fast) ease-in-out; 
			transition: color var(--transition-fast) ease-in-out; 	}


		.media {
			order: 1;
			
			@media screen and (min-width: 769px) {
				order: unset; }}
				
		.hero-image {
			min-height: 350px;
			width: 98%;
			min-width: 300px;
			margin-inline: auto;
			background-image: url("/images/image-sm.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain; 
			
			@media screen and (min-width: 769px) {
				height: 500px;
				background-image: url("/images/image-lg.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;			}}
			}

.feature-list-with-image {

	.feature-list-with-image__wrapper {
		background-color: var(--gray-lightest); }
		

	.feature-list-with-image__double-pane-wrapper {
		width: 100%;		
		max-width: 900px;
		margin-inline: auto;
		padding-inline: 20px;

		@media screen and (min-width: 769px) {
			display: grid;
			grid-template-columns: 1fr 1fr; 
			background-color: var(--clear);
			padding-block: 100px; }}
	
	.feature-list-with-image__double-pane-wrapper > * + * {
		margin-block-start: 35px; 
		
		@media screen and (min-width: 769px) {
			margin-block-start: unset; }}
	
	.feature-list-with-image__pane-wrapper:last-child {
		margin-inline-start: -15px; }
	
	.feature-list-with-image__two-pane-list {
		display: none;
		height: 100%;
		width: 100%;
		background-image: url("/images/image.png");
		background-size: cover;
		background-position: center;
		
		@media screen and (min-width: 769px) {
			display: block; 
			border-start-start-radius: var(--size-radius-lg);
			border-end-start-radius: var(--size-radius-lg);
			box-shadow: 7px 0px 0px 0px var(--medium) inset, 0px 7px 0px 0px var(--medium) inset, 0px -7px 0px 0px var(--medium) inset ;	}}

	.feature-list-with-image__image-container {
		height: 400px;
		width: 400px;
		background-color: red;
		border-radius: 50%;
	}

	.feature-list-with-image__pane-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; }

	.feature-list-with-image__column-wrapper {
		padding-inline-start: 10px;
		padding-inline-end: 30px; }

	.feature-list-with-image__column-wrapper > * + * {
		margin-block-start: 25px; }

	.feature-list-with-image__content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
		background-color: var(--gray-lightest);
		height: 100%;
		width: 95%;
		margin-inline: auto;
		
		@media screen and (min-width: 769px) {
			margin-inline-end: -5px; }}
	
	.feature-list-with-image__content-wrapper header {
		margin-inline: 10px;
		line-height: 3rem;
		margin-bottom: 50px; }

	.feature-list-with-image__title {
		font-family: var(--font-family-heading);
		font-size: 4rem;
		margin-block: unset; }
		
	.feature-list-with-image__item-wrapper {
		display: grid;
		grid-template-columns: 1fr 80%;
		align-items: center; 
		justify-content: center; }
		
	.media {
		display: flex;
		justify-content: flex;}
	
	
	
	.feature-list-with-image__subtitle {
		margin-block: unset;
		font-family: var(--font-family-heading);
		font-size: var(--font-size-label); }
		
	.feature-list-with-image__subtitle-copy {
		font-family: var(--font-family-heading);
		font-size: var(--font-size-label);
		color: var(--gray-darkest); }
			
	.feature-list-with-image__icon {
		display: block;
		height: 50px;
		width: 50px;
		background-image: url("/images/image.png"); 
		background-color: var(--gray);
		border-radius: var(--size-radius-circle); }
} /* feature-list-with-image */





/*
 *
 *
 * triple-feature-with-icons */




.triple-feature-with-icons {

	.triple-feature-with-icons__wrapper { background-color: var(--gray-lightest); }

	.triple-feature-with-icons__hero-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;}
	
	.triple-feature-with-icons__hero-wrapper > * + * {
		margin-block-start: 40px;
		
		@media screen and (min-width: 769px) {
			margin-block-start: 0;
			margin-inline-start: 75px; }}
			
	.triple-feature-with-icons__hero-wrapper-header {
		text-align: center;
		max-width: 400px;}
	
	.triple-feature-with-icons__hero-wrapper-header > * + * {
		margin-block-start: 5px; }
	
	.triple-feature-with-icons__hero-title {
		font-family: var(--font-family-heading); 
		font-size: var(--font-size-heading);}
		
	.triple-feature-with-icons__hero-subtitle {
		font-family: var(--font-family-subheading);
		font-size: var(--font-size-subheading);}
			
	.triple-feature-with-icons__hero-sections-wrapper {

		@media screen and (min-width: 769px) { 
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 5vw;
			align-items: flex-end; }}		
		
	.triple-feature-with-icons__hero-sections-wrapper > * + * {
		margin-block-start: 60px; }	
			
	.triple-feature-with-icons__hero-section {
		max-width: 400px;
		display: flex;
		flex-direction: column;
		padding-inline: 10px; 
		padding-block: 20px; 
		
		@media screen and (min-width: 769px) {
			align-items: flex-start; }}
		
	.triple-feature-with-icons__hero-section > * + * {
		margin-block-start: 10px;}
						
	.triple-feature-with-icons__hero-header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-items: stretch;
		max-width: 100%;
		font-family: var(--font-family-body);
		font-size: var(--font-size-body);}
	
	.triple-feature-with-icons__hero-header > * + * {
		margin-block-start: 15px; }
	
	.triple-feature-with-icons__hero-icon {
		min-height: 2.5rem;
		min-width: 2.5rem;
		text-align: left;
		background-color: var(--gray-darkest);
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/></svg>');
		-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/></svg>');
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		mask-type: alpha;
		-webkit-mask-type: alpha;	}
		
	.triple-feature-with-icons__title {
		@media screen and (min-width: 769px) {
			font-size: (var(--font-size-heading));
			text-align: left; }}
			
	.triple-feature-with-icons__body {
		
		@media screen and (min-width: 769px) {
			max-width: 300px;
			display: flex;
			flex-direction: column;
			align-items: center; }}

	.triple-feature-with-icons__body > * + * {
		margin-block-start: 45px;
		
		@media screen and (min-width: 769px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start; }}

	.triple-feature-with-icons__hero-copy {
		font-family: var(--font-family-body);
		font-size: var(--font-size-body);
		line-height: 1.85;}	

	.triple-feature-with-icons__cta {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;}
		

} /* .triple-feature-with-icons */



.btn-icon-right {

	.btn-icon-right__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;}
		


	.btn-icon-right__btn-wrapper {
		position: relative; }

	.btn-icon-right__btn--primary {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-lightest);
		background-color: var(--gray-darker); 
		letter-spacing: var(--tracking-xl);
		padding-inline-end: 2rem;
		padding-inline-start: 0.75rem;
		line-height: 2.5;
		border: 0;
		border-radius: var(--size-radius-md);
		text-decoration: none;
		cursor: pointer;
		transition: background-color var(--transition-fast) ease-in-out; }

	.btn-icon-right__btn--primary::after {
		position: absolute;
		top: 20%;
		right: 0.25rem;
		display: inline-block;
		content: '';
		width: 1.5rem;
		height: 1.5rem;
		background-color: var(--gray-lightest);
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>');
		-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>');  /* for Chrome/Safari (NOV 2025) */
		mask-repeat: no-repeat;
		mask-size: contain;
		pointer-events: none; }
		
	.btn-icon-right__input-wrapper:focus-within .btn-icon-right__btn--primary::after {
	background-color: var(--gray-dark); }

	.btn-icon-right__btn--primary:focus {
		background-color: var(--gray-dark);
		color: var(--gray-light); }
	
	btn-icon-right__.btn--primary:hover {
		background-color: var(--gray);
		color: var(--gray-darkest);}
	
	.btn-icon-right__btn--secondary-3 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-darkest);
		background-color: var(--white); 
		letter-spacing: var(--tracking-xl);
		line-height: 2.3;
		text-decoration: none;
		padding-inline: 1.05rem;
		border: 2px solid var(--gray);
		border-radius: var(--size-radius-md);
		cursor: pointer;}
} /* btn-icon-right */


}
}
