<!-- /home/blue/webace/library/components/vertical-navigation/directly-on-background/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Vertical navigation | Directly on background</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="directly-on-background">
    <div class="directly-on-background__wrapper">

    </div>
  </div>
</body>
</html>
