<!-- /home/blue/webace/library/components/footers/footer-search/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footers | Company logo with newsletter sign up, site map and legal</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="footer-search">
		<footer class="footer">
			<div class="top">
				<div class="about">
					<header class="company">
						<span class="footer-logo"></span>
						<h2 class="company-name">Disruptfa</h2>	
					</header>
				</div>
				<div class="newsletter">
					<input class="field-full-rounded" type="text" />
				</div>	
			</div>
			<div class="mid">
				<div class="link-col">
					<h2 class="link-col-title">Disruptfa</h2>
					<ul class="link-list">
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					</ul>
				</div>

				<div class="link-col">
					<h2 class="link-col-title">Disruptfa</h2>
					<ul class="link-list">
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					</ul>
				</div>
				<div class="link-col">
					<h2 class="link-col-title">Disruptfa</h2>
					<ul class="link-list">
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					</ul>
				</div>					
				<div class="link-col">
					<h2 class="link-col-title">Disruptfa</h2>
					<ul class="link-list">
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					</ul>
				</div>		
			</div>

			<div class="legal">
				<ul class="link-list">
					<li class="list-item"><a href="" class="link">readymadekinfolkreadymadekinfolk</a></li>
				</ul>
				<ul class="legal__link-list">
					<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
					<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
				</ul>
			</div>
		
		</footer>
	</div>
</body>
</html>
