<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing pages | Four tier</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="four-tier">
    <div class="four-tier__wrapper">
      <div class="four-card-wrapper">
        <div class="card card-visual">
          <div class="card__header">
            <h2 class="card__title">I'mbabysustai</h2>
          </div>
          <div class="card__body">
            <div class="card__banner">
              <div class="card__price">$500<span class="card__price-info">nable</span></div>
            </div>

            <div class="card__lists">
              <ul class="card__list">
                <li class="card__list-item"><span class="meta-icon"></span>I'm baby sustainable</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>

        <div class="card card-visual">
          <div class="card__header">
            <h2 class="card__title">I'mbabysustai</h2>
          </div>
          <div class="card__body">
            <div class="card__banner">
              <div class="card__price">$500<span class="card__price-info">nable</span></div>
            </div>

            <div class="card__lists">
              <ul class="card__list">
                <li class="card__list-item"><span class="meta-icon"></span>I'm baby sustainable</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>
        

        <div class="card card-visual">
          <div class="card__header">
            <h2 class="card__title">I'mbabysustai</h2>
          </div>
          <div class="card__body">
            <div class="card__banner">
              <div class="card__price">$500<span class="card__price-info">nable</span></div>
            </div>

            <div class="card__lists">
              <ul class="card__list">
                <li class="card__list-item"><span class="meta-icon"></span>I'm baby sustainable</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>     
        
        <div class="card card-visual">
          <div class="card__header">
            <h2 class="card__title">I'mbabysustai</h2>
          </div>
          <div class="card__body">
            <div class="card__banner">
              <div class="card__price">$500<span class="card__price-info">nable</span></div>
            </div>

            <div class="card__lists">
              <ul class="card__list">
                <li class="card__list-item"><span class="meta-icon"></span>I'm baby sustainable</li>
              </ul>
            </div>
            <a href="" class="cta cta-visual">call to action</a>	
          </div>
        </div>
                   
      </div>
    </div>
  </div>
</body>
</html>
