@layer modules.input-icon-emphasized {

	.input-icon-emphasized .wrapper {}


	.input-wrapper {
		position: relative;}

	.input-wrapper input[type="text"] { 
		width: 350px;
		max-width: 350px;
		height: 2.75rem;
		border: 1px solid var(--gray-lighter);
		border-radius: var(--size-radius-md);
		outline: none; 
		padding-inline-start: 50px;
		background-color: var(--white);
		letter-spacing: 1px; }

	.input-wrapper .input-icon::before {
		content: '';
		position: absolute;
		left: 1.2rem;
		top: 1%;
		transform: translate(-50%);
		display: inline-block;
		width: 2.5rem;
		height: 2.7rem;
		border-start-start-radius: var(--size-radius-md);
		border-end-start-radius: var(--size-radius-md);
		font-family: var(--font-family-label);
		font-size: var(--label-size);
		background-image: url("/images/image.png");
		background-size: contain;
		background-position: center;
		background-color: var(--gray-light);
		pointer-events: none; }
		
	.input-wrapper input:focus {
		box-shadow: 0px 1px 9px 0px var(--gray-lighter);}
}
