<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application layouts | Layout 001</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="layout-001">
    <div class="logo"></div>
    
    <nav class="navbar">

    </nav>

    <header class="boss-header">

    </header>

    <main class="main--layout-001">
      <aside class="aside">

      </aside>

      <section class="main__body">

      </section>
    </main>
    <footer class="footer">
      
    </footer>
  </div>
</body>
</html>
