<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application layouts | Layout 001</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="layout-001">
    <div class="logo"><h2>Logo</h2></div>
    
    <nav class="navbar">
      <h2>Navigation</h2>
    </nav>

    <header class="boss-header">
      <h2>Boss header</h2>
    </header>

    <main class="main--layout-001">
      <aside class="aside">
        <h2>Aside</h2>
      </aside>

      <section class="main__body">
        <h2>Main body</h2>
      </section>
    </main>
    <footer class="footer">
      <h2>footer</h2>
    </footer>
  </div>
</body>
</html>
