<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Library | CSS Hamburger Menu</title>
  <link rel="stylesheet" media="screen" href="style.css">
</head>
<body>
 <!--  
    <div class="css-hamburger">
        <div class="summary"></div>
        <nav class="menu">
            <a href="#">Home</a>
            <a href="#">Work</a>
            <a href="#">Tours</a>
            <a href="#">Profile</a>
            <a href="#">Contact</a>
        </nav>
    </div>
-->

<details>
  <summary></summary>
  <nav class="menu">
    <a href="#link">Home</a>
    <a href="#link">Work</a>
    <a href="#link">Links</a>
    <a href="#link">Contact</a>
    <a href="#link">About</a>
  </nav>
</details>
</body>
</html>