<!-- /home/blue/webace/library/components/inputs/small_rounded/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Small rounded</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="input-small-rounded"> 
		<div class="wrapper">
			<input type="text" />
		</div>     
    </div> <!-- input-small-rounded -->
</body>
</html>
