<!-- /home/blue/webace/library/components/sign_in_forms/full-page/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="style.css">
  <title>Sign in forms | Two-pane with image</title>
</head>
<style>
</style>
<body>
	<div class="form-full-page">
		<div class="wrapper">
				<div class="simple-card">
					<form class="form">
						<header class="form-header">
							<h1>Form title here</h1>
							<p>subheading goes here. could be one or more lines</p>
						</header>							
						<div class="form-body">
							<div class="fields-wrapper">
								<div class="input">
									<label for="name">Name (4 to 10 characters)</label>
									<input type="text" id="name" name="name" required minlength="4" />
								</div>
								<div class="input">
									<label for="email">Email address</label>
									<input type="text" id="email" name="email" required minlength="4" />			
								</div>
							</div>
							<div class="checkbox-wrapper">
								<input type="checkbox" id="subscribe" name="subscribe" value="newsletter" />
								<label for="subscribe">Newsletter Signup</label>
							</div>
							<div class="button-wrapper">
								<button class="button" type="button">Submit this !</button>
							</div>
						</div>
						<div class="form-footer">
							<p>I'm baby godard synth keffiyeh narwhal gastropub.</p>
						</div>
					</form>
			</div> 
			<div class="image"></div>
		</div>
	</div> <!--form-full-page -->
</body>
</html>
