@layer modules.badge-soft-bg-full-rnd  {

.badge-soft-bg-full-rnd {

	.wrapper {}

	.badge {
		background-color: var(--gray-lighter);
		padding-inline: 0.7rem;
		padding-block: 0.25rem;
		color: var(--gray-darkest);
		font-family: var(--font-family-label);
		font-size: var(--font-size-label);
		font-weight: 600;
		border-radius: var(--size-radius-full);
		letter-spacing: var(--tracking-md); }

}
