<!-- /home/blue/webace/library/components/marketing-sections/long-feature-list-columns/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketing Sections | Long feature list with columns</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
</head>
<body>
  <div class="long-feature-list-columns">
    <div class="long-feature-list-columns__wrapper">

      <div class="long-feature-list-columns__header">
        <h1 class="long-feature-list-columns__title">I'm baby sustainableI'm baby sustainab</h1>
        <p class="long-feature-list-columns__subtitle">I'm baby sustainable whatever neutra flexitarian freegan. Chambray meggings trust fund, selvage shoreditch meditation cliche green juice salvia pour-over readymade kinfolk. Raw denim man </p>
      </div>

      <div class="long-feature-list-columns__lists">
        <ul class="long-feature-list-columns__list">
          <li class="long-feature-list-columns__list-item-wrapper">
            <div class="long-feature-list-columns__icon-wrapper">
              <span class="long-feature-list-columns__icon"></span>
            </div>            
            <div class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan. </div>
          </li>
          <li class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <div class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</div>
          </li>
          <li class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <div class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</div>
          </li>
          <li class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <div class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</div>
          </li>                              
        </ul>

        <ul class="long-feature-list-columns__list">
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>                              
        </ul>
        
        <div class="long-feature-list-columns__list">
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>
          <div class="long-feature-list-columns__list-item-wrapper">
            <span class="long-feature-list-columns__icon"></span>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>
          <div class="long-feature-list-columns__list-item-wrapper">
            <div class="long-feature-list-columns__icon-wrapper">
              <span class="long-feature-list-columns__icon"></span>
            </div>
            <li class="long-feature-list-columns__list-item">I'm baby sustainable whatever neutra flexitarian freegan.</li>
          </div>                              
        </div>        
      </div> <!-- long-feature-list-columns__lists -->

      <div class="long-feature-list-columns__cta">
        <div class="long-feature-list-columns__btn-wrapper">
          <button class="long-feature-list-columns__btn--primary" type="button">Button</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
