<!-- /home/blue/webace/library/components/inputs/soft-background/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Soft background</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="input-soft-background">
		<div class="wrapper">
			<input type="text" />
		</div>
    </div> <!-- input-soft-background -->
</body>
</html>
