<!-- /home/blue/webace/library/components/inputs/full-rounded-button-offset/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Full rounded button offset</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="wrapper input-full-rounded-button-offset">
		<div class="input-wrapper">
			<label class="input-label">Label</label>
			<input type="text" />
			<button type="button" class="input-button">Sign up</button>
		</div> 
    </div> <!-- input-full-rounded-button-offset -->
</body>
</html>
