<!-- /home/blue/webace/library/components/buttons/icon-right/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button | Icon right</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="btn-icon-right">
		<div class="btn-icon-right__wrapper">
			<div class="btn-icon-right__btn-wrapper">
				<a href="" class="btn-icon-right__btn--primary">Button</a>
			</div>
			<div class="btn-icon-right__btn-wrapper">
				<a href="" class="btn-icon-right__btn--secondary-1">Button</a>
			</div>
			<div class="btn-icon-right__btn-wrapper">
				<a href="" class="btn-icon-right__btn--secondary-2">Button</a>
			</div>
			<div class="btn-icon-right__btn-wrapper">
				<a href="" class="btn-icon-right__btn--secondary-3">Button</a>
			</div>
		</div>
	</div> <!-- btn-icon-right -->
</body>
</html>
