<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing pages | Three tier emphasized feature heavy plan</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="three-tier-emphasized-feature-heavy">
    <div class="three-tier-emphasized-feature-heavy__wrapper">
      <div class="three-card-wrapper">
        <div class="card card-visual">
          <div class="header">
            <h2 class="card-title">I'mbabysustai</h2>
          </div>
          <div class="body">
            <div class="banner">
              <div class="price">$500<span class="price-info">nable</span></div>
            </div>
            <a href="" class="cta cta-visual">call to action</a>

            <div class="lists">
              <ul class="list">
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian freegan.</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian freegan.</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian freegan.</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian freegan.</li>                
              </ul>
            </div>
          </div>
        </div>

        <div class="card card-visual">
          <div class="header">
            <h2 class="card-title">I'mbabysustai</h2>
          </div>
          <div class="body">
            <div class="banner">
              <div class="price">$500<span class="price-info">nable</span></div>
            </div>
			<a href="" class="cta cta-visual">call to action</a>
            <div class="lists">
              <ul class="list">
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
              </ul>
            </div>
          </div>
        </div>        

        <div class="card card-visual">
          <div class="header">
            <h2 class="card-title">I'mbabysustai</h2>
          </div>
          <div class="body">
            <div class="banner">
              <div class="price">$500<span class="price-info">nable</span></div>
            </div>
            <a href="" class="cta cta-visual">call to action</a>

            <div class="lists">
              <ul class="list">
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra </li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra flexitarian</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
                <li class="list-item"><span class="meta-icon"></span>I'm baby sustainable whatever neutra</li>
              </ul>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</body>
</html>
