@layer modules.input-full-rounded {

.input-full-rounded {

	.wrapper{}

	.field-full-rounded[type="text"] {
		width: 300px; 
		max-width: 350px;
		height: 3rem;
		border: 2px solid var(--gray-lighter);
		border-radius: var(--size-radius-full);
		outline: none; 
		padding-inline: 20px;
		background-color: var(--white); }

	.field-full-rounded[type="text"]:focus {
		box-shadow: 0px 1px 9px 0px var(--gray-lighter); }
}
}
