<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards lab</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <div class="tiny-cards">
    <div class="tiny-cards container">
        <header class="tiny-cards-header">
            <h2 class="tiny-cards-title">Hotels</h2>
        </header>
        <main class="main--tiny-cards">
            <section class="miro-island tiny-cards__section">
                <div class="tiny-cards__inner">
                    <h3 class="tiny-cards__header">Miro Island & Resort Spa</h3>
                    <p class="tiny-cards__text">The stylish Miro Island & Resort Spa strikes the perfect note for a peaceful escape.</p>
                    <a class="tiny-cards__link" href="#">Learn more</a>
                </div>
            </section>
            <section class="flamingo-beach tiny-cards__section">
                <div class="tiny-cards__inner">
                    <h3  class="tiny-cards__header">Flamingo Beach</h3>
                    <p class="tiny-cards__text">Plenty of pools and activities to keep children smiling, plus comfy apartments which are tailored for families.</p>
                    <a class="tiny-cards__link" href="#">Learn more</a>
                </div>
            </section>
            <section class="protur-safari tiny-cards__section">
                <div class="tiny-cards__inner">
                    <h3  class="tiny-cards__header">Protur Safari Park</h3>
                    <p class="tiny-cards__text">The big, family-friendly complex dishes up plenty of pools and activities.</p>
                    <a class="tiny-cards__link" href="#">Learn more</a>
                </div>
            </section>
            <section class="mountain-view tiny-cards__section">
                <div class="tiny-cards__inner">
                    <h3  class="tiny-cards__header">Mountain View Resort</h3>
                    <p class="tiny-cards__text">There are heaps of spots to soak in at the super-size Holiday Village Costa del Sol.</p>
                    <a class="tiny-cards__link" href="#">Learn more</a>
                </div>
            </section>            
        </main>
    </div> <!-- /.tiny-cards -->
</div>
    <script src="script.js"></script>
</body>
</html>
