<!-- /home/blue/webace/library/components/pricing-pages/left-aligned-single-tier/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing pages | left-aligned-single-tier</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
</head>
<body>
  <div class="left-aligned-single-tier">
    <div class="left-aligned-single-tier__wrapper">
      
    </div>
  </div>
</body>
</html>
