<!-- /home/blue/webace/library/components/inputs/label-overlapping/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Label overlapping</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="input-label-overlapping">
		<div class="wrapper">
			<div class="input-wrapper">
				<label class="input-label">Label</label>
				<input type="text" name="input-label-overlapping" />
			</div>
		</div>
    </div> <!-- input-label-overlapping -->
</body>
</html>
