<!-- /home/blue/webace/library/components/on-panel-borders-between/on-panel-borders-between/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Vertical navigation | On panel borders between</title>
  <link rel="stylesheet" media="screen" href="style.css">
<style>
</style>
</head>
<body>
  <div class="on-panel-borders-between">
    <div class="on-panel-borders-between__wrapper">
      
    </div>
  </div>
</body>
</html>
