<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horizontal navigation | Bottom border raised darker when active</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="hn-full-rounded-inset-rounded">
    <div class="wrapper">
      <ol class="nav-wrapper">
        <li class="nav-item first-item"><a href="" class="link">Account</a></li>
        <li class="nav-item middle-item active-item"><a href="" class="link">Notifications</a></li>
        <li class="nav-item last-item"><a href="" class="link">Security</a></li>
      </ol>
    </div>
  </div>
</body>
</html>
