<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testimonials | Centered carousel dotted pagination</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
</head>
<body>
  <h1>Testimonials | Centered carousel dotted pagination</h1>
  <div class="centered-carousel-dotted-pagination">
    <div class="centered-carousel-dotted-pagination__wrapper">
      <section class="testimonials">
        <div class="quotes">
          <input type="radio" id="option-1" name="panel" class="sr-only peer/panel-1" checked />
          <article>
            <blockquote>
              <p>
                <span class="clip clip-left"></span>
                I couldn't be happier with the web development service I received! The team was highly professional, attentive to my needs, and delivered a stunning website that exceeded my expectations. The entire process was smooth and hassle-free, and I’ve already seen an increase in traffic and engagement. Highly recommend!
              </p>
            </blockquote>
            <div class="user">
              <div>
                <p>Raymond B.</p>
              </div>
            </div>
          </article>

          <input type="radio" id="option-2" name="panel" class="sr-only peer/panel-2" />
          <article>
            <blockquote>
              <p>
                <span class="clip clip-left"></span>
                They transformed our outdated website into a modern, user-friendly platform that perfectly represents our brand. Their attention to detail and commitment to quality are second to none. We’re already seeing a boost in sales thanks to the new design!
              </p>
            </blockquote>
            <div class="user">
              <div>
                <p>Helen Vicks</p>
                <p>Front-end developer</p>
              </div>
              <img src="https://i.pravatar.cc/150?img=23" alt="Helen">
            </div>
          </article>

          <input type="radio" id="option-3" name="panel" class="sr-only peer/panel-3" />
          <article>
            <blockquote>
              <p>
                <span class="clip clip-left"></span>
                Exceptional service from start to finish. The developers took the time to understand my vision and turned it into reality. The website looks amazing, loads fast, and works flawlessly on all devices. I’ve received so much positive feedback from customers.
              </p>
            </blockquote>
            <div class="user">
              <div>
                <p>Maria Rodriguez</p>
                <p>Buisness Owner</p>
              </div>
              <img src="https://i.pravatar.cc/150?img=48" alt="Maria">
            </div>
          </article>
          
          <input type="radio" id="option-4" name="panel" class="sr-only" />
          <article>
            <blockquote>
              <p>
                <span class="clip clip-left"></span>
                I was impressed with the level of expertise and dedication they brought to the project, providing valuable insights throughout the process and delivering a site that’s both beautiful and functional.
              </p>
            </blockquote>
            <div class="user">
              <div>
                <p>Maria Rodriguez</p>
                <p>Buisness Owner</p>
              </div>
              <img src="https://i.pravatar.cc/150?img=16" alt="Maria">
            </div>
          </article>
          
          <input type="radio" id="option-5" name="panel" class="sr-only" />
          <article>
            <blockquote>
              <p>
                <span class="clip clip-left"></span>
                The web development service went above and beyond to deliver a website that truly captures our company’s personality. They were incredibly responsive and made sure all my requests were addressed quickly. I especially appreciate how they kept me in the loop every step of the way. The end result is fantastic!
              </p>
            </blockquote>
            <div class="user">
              <div>
                <p>Gordon Waltz</p>
                <p>Buisness Owner</p>
              </div>
              <img src="https://i.pravatar.cc/150?img=17" alt="Gordon">
            </div>
          </article>

        </div>

        <div class="dots">
          <label id="toggle-1" for="option-1" arial-label="toggle panel 1"></label>
          <label id="toggle-2" for="option-2" arial-label="toggle panel 2"></label>
          <label id="toggle-3" for="option-3" arial-label="toggle panel 3"></label>
          <label id="toggle-3" for="option-4" arial-label="toggle panel 4"></label>
          <label id="toggle-3" for="option-5" arial-label="toggle panel 5"></label>
        </div>
      </section>      
    </div>
  </div>
</body>
</html>
