@layer modules.input-large-rounded {

	.input-large-rounded {
		.wrapper {
			background-color: var(--gray-lightest); } 
		.wrapper input[type="text"] {
			width: 350px; 
			max-width: 350px;
			height: 3rem;
			border: 2px solid var(--gray-lighter);
			border-radius: 12px;
			outline: none; 
			padding-inline: 20px;
			background-color: var(--white); }

		.wrapper input[type="text"]:focus {
			box-shadow: 0px 1px 9px 0px var(--gray-light);
			border-color: var(--gray-lighter); }
}}
