<!-- /home/blue/webace/library/components/inputs/small-rounded-detached/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Small rounded / detached</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="input-small-rounded-detached">
		<div class="wrapper">
			<div class="input-wrapper">
				<label class="label">Label</label>
				<input class="text-input" type="text" />
			</div> 
			<button type="button" class="button--sign-up">Sign up</button>
		</div>
    </div> <!-- input-small-rounded-detached -->
</body>
</html>
