<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile menus | Mobile menu 001</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
  <script src="/assets/js/mobile-menu.js"></script>
<style>
</style>
</head>
<body>
	<div class="mobile-menu-001">
		<nav class="ribbon-menu" id="ribbon-main-menu">
			<div class="mobile-menu__media-container">
				<div class="mobile-menu__media">
					<a href="/">
						<img class="mobile-menu__logo" src="/assets/images/beaver-master-guides-75.png" alt="logo">
					</a>
				</div>
			</div>  

			<!-- <div class="layer-2__list-item"><button id="toggle-lang"><img class="nav-lang-toggle" src="/assets/images/flag-of-japan.svg" alt="Flag of Japan"></div> -->


			<!-- 			<button class="ribbon-menu-toggle" id="toggle-menu-ribbon">
				toggle menu
			</button>
 -->			
			<div class="ribbon-menu-dropdown">
				<ul class="nav-ribbon-menu">
					<li class="nav-ribbon-menu__item"><span class="btn-open-modal top-ribbon-menu" data-modal-target="modalOne" type="button">Newsletter</span></li>
					<li class="nav-ribbon-menu__item"><a class="top-ribbon-menu" href="/testimonials.html">Testimonials</a></li>
					<li class="nav-ribbon-menu__item"><a class="top-ribbon-menu" href="/profile.html">Profile</a></li>
					<li class="nav-ribbon-menu__item"><a class="top-ribbon-menu" href="/faq.html">Q & A</a></li>
					<li class="nav-ribbon-menu__item"><a class="top-ribbon-menu cta-full-rounded" href="/contact.html">Contact Us</a></li>
					<li class="nav-ribbon-menu__item"><button id="toggle-lang"><img class="nav-lang-toggle" src="/assets/images/flag-of-japan.svg" alt="Flag of Japan"></li>
                    <li class="nav-ribbon-menu__item">
						<button onclick="myFunction()">
							<span class="icon light-icon"></span>
							<span class="icon dark-icon"></span>
						</button>
					</li>
					<!-- <li class="nav-ribbon-menu__item"><a href="https://www.instagram.com/beaver_tatsujin_guides/" aria-label="Visit Us on Instagram" aria-hidden="true" target="_blank"></a></li>					 -->
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>