<!-- /home/blue/webace/library/components/marketing-sections/single-feature-horizontal-layout/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordians | FAQ</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
</head>
<body>
    <section class="faqs">
        <details class="faq-details">
            <summary class="faq-summary">This is the FAQ</summary>
            <div class="faq-body">This is the FAQ body.</div>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">This is the FAQ</summary>
            <div class="faq-body">This is the FAQ body.</div>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">This is the FAQ</summary>
            <div class="faq-body">This is the FAQ body.</div>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">This is the FAQ</summary>
            <div class="faq-body">This is the FAQ body.</div>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">This is the FAQ</summary>
            <div class="faq-body">This is the FAQ body.</div>
        </details>                                
    </section>
</body>
</html>
