@layer modules.btn-icon-left {

/* actual component wrapper, scope level */
.btn-icon-left {

	.wrapper {
		background-color: var(--white);}
		
	.wrapper > * + * {
		margin-block-start: 30px; }

	.btn-wrapper {
		position: relative; }

	.btn--primary {
		display: inline-block;
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-lightest);
		background-color: var(--gray-darker); 
		letter-spacing: var(--tracking-xl);
		padding-inline-start: 2.5rem;
		padding-inline-end: 0.75rem;
		line-height: 2.5;
		border: 0;
		border-radius: var(--size-radius-md);
		cursor: pointer;
		transition: background-color var(--transition-fast) ease-in-out; }

	.btn--primary::before {
		position: absolute;
		top: 27%;
		left: 0.5rem;
		display: inline-block;
		content: '';
		width: 1.25rem;
		height: 1.25rem;
		background-color: var(--gray-lightest);
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/></svg>'); 
		-webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/></svg>');  /* for Chrome/Safari (NOV 2025) */
		mask-repeat: no-repeat;
		mask-size: contain;
		pointer-events: none; }
		
	.btn--primary:focus {
		background-color: var(--gray-dark);
		color: var(--gray-light); }
	
	.btn--primary:hover {
		background-color: var(--gray);
		color: var(--gray-darkest);}
	
	.btn--primary:active {}
	
	.btn--secondary-1 {
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-darkest);
		background-color: var(--gray-lighter); 
		letter-spacing: var(--tracking-xl);
		padding-inline: 1.15rem;
		line-height: 2;
		border: 0;
		border-radius: var(--size-radius-md);
		cursor: pointer;	}
	
	.btn--secondary-2 {
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-dark);
		background-color: var(--white); 
		letter-spacing: var(--tracking-xl);
		padding-inline: 1.1rem;
		line-height: 2;
		border: 1px solid var(--gray);
		border-radius: var(--size-radius-md);
		cursor: pointer;}
	
	.btn--secondary-3 {
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-darkest);
		background-color: var(--white); 
		letter-spacing: var(--tracking-xl);
		line-height: 2;
		padding-inline: 1.05rem;
/*		padding-block: 0.65rem; */
		border: 2px solid var(--gray);
		border-radius: var(--size-radius-md);
		cursor: pointer;}
	
}

}
