<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horizontal navigation | Bottom border raised darker when active</title>
  <link rel="stylesheet" media="screen" href="style.css">
<style>
</style>
</head>
<body>
  <div class="hn-front-active-tab-colored-top-border">
    <div class="wrapper">
		<ol class="nav-wrapper">
			<li class="nav-item first-item">
				<div class="link-shell">
					<a href="" class="link">Account</a>
				</div>
			</li>
			<li class="nav-item middle-item">
				<div class="link-shell>
					<a href="" class="link">Notifications</a>
				</div>
			</li>
			<li class="nav-item last-item">
				<div class="link-shell>
					<a href="" class="link">Security</a>
				</div>
			</li>
		</ol>
    </div>
  </div>
</body>
</html>
