<!-- /home/blue/webace/library/components/footers/footer-nav-icons/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footers | Company logo with navigation, icons and legal</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="footer-nav-icons">
		<footer class="footer">
        <div class="top">
            <div class="media">
              <img class="company-logo" src="/images/image-sm.png" alt="Logo">
            </div>
            <ul class="nav">
              <li class="item"><a class="link" href="">rekinfolkIm</a></li>
              <li class="item"><a class="link" href="">reddddddadymadekinfolkIm</a></li>
              <li class="item"><a class="link" href="">readymadekinfolkIm</a></li>
              <li class="item"><a class="link" href="">ekinfolkIm</a></li>
            </ul>
            <ul class="icons">
              <li class="icons__fb"><a class="footer-nav-icons__icon__link" href=""></a></li>
              <li class="icons__tw"><a class="footer-nav-icons__icon__link" href=""></a></li>
              <li class="icons__ig"><a class="footer-nav-icons__icon__link" href=""></a></li>
            </ul>
        </div>
        <div class="legal">
            <ul class="legal__list">
              <li class="legal__item"><a class="footer-nav-icons__a" href="">readymadekinfolk</a></li>
              <li class="legal__item"><a class="footer-nav-icons__a" href="">readymadekinfolk</a></li>
              <li class="legal__item"><a class="footer-nav-icons__a" href="">readymadekinfolk</a></li>
            </ul>
        </div>
		</footer>
  </div>
</body>
</html>
