<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | Carousel with Overlay</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/carousel.js"></script>
</head>
<body>

    <div class="carousel-with-overlay">
    <div class="slideshow-container">
        <div class="overlay mySlides">
            <img src="/assets/images/dog.jpg">
            <span class="text">
                <p>This is the fickin overlay</p>
            </span>
        </div>

        <div class="overlay mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/assets/images/dolphin.jpg">
            <span class="text">
                <p>This is the fickin overlay</p>
            </span>            <div class="text">Caption Two</div>
        </div>


        <div class="overlay mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/assets/images/bear.jpg">
            <span class="text">
                <p>This is the fickin overlay</p>
            </span>
        </div>

        <a class="prev">❮</a>
        <a class="next">❯</a>


        <div style="text-align:center">
            <span class="dot" data-slide="1"></span> 
            <span class="dot" data-slide="2"></span> 
            <span class="dot" data-slide="3"></span> 
        </div>
    </div>    
</div>
</body>
</html>
