@layer modules.site-map-about-icons-legal {

.site-map-about-icons-legal {
	
	.wrapper {}

	.footer {
		background-color: var(--white);
		border: 2px solid var(--gray);
		width: 80%;
		margin-inline: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr; 
		padding-block-start: 40px;}
	
	.footer > * + * {
		margin-block-start: 50px;}
	
	.layer-1 {
		display: grid;
		grid-template-columns: repeat(4, 1fr) 30%;
		width: 90%;
		margin-inline: auto; }

	.layer-1 .link-col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;}

	.layer-1 .link-col > * + * {
		margin-block-start: 8px;}

	.layer-1 > * + * {
		margin-inline-start: 10px; }
	
	.about-col > * + * {
		margin-block-start: 10px;}

	.link-col .link-list > * + * {
		margin-block-start: 10px; }
	
	.link-col .link-list .list-item {
		display: block;}
	
	.list-item {
		display: inline;}
	
	.layer-2 {
		width: 90%;
		margin-inline: auto;
		border-top: 2px solid var(--gray);
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-block: 30px; 	}
	.layer-2 .link-list {}
	.layer-2 .link-list > * + * {
		margin-inline-start: 20px;}
		

	.sitemap {}
	.social-media .link-list {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end; }
	.social-media .link-list > * + * {
		margin-inline-start: 20px; }
		

		
	.link-col-title {
		font-family: var(--font-family-subheading); 
		font-size: var(--font-size-subheading);}
	.link-list {}
	.link {}
	.icon {
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--gray);
		border-radius: var(--size-radius-circle); }
	.legal {}	
}
}
