<!-- /home/blue/webace/library/components/inputs/connected-inputs-inset-labels/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Connected inputs / inset labels</title>
  <link rel="stylesheet" media="screen" href="style.css">
<style>
</style>
</head>
<body>
	<div class="wrapper input-connected-inputs-inset-labels">
		<ul class="inputs-wrapper">
			<label class="input-label first-label">Label</label>
			<label class="input-label last-label">Label</label>
			<li><input type="text" class="input first-item"></li>
			<li><input type="text" class="input last-item"></li>
		</ul>
    </div> <!-- input-connected-inputs-inset-labels -->
</body>
</html>
