<!-- /home/blue/webace/library/components/inputs/icon-border/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Icon border</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="wrapper input-icon-border">
		<div class="input-wrapper">
			<span class="input-icon" aria-label=""></span>
			<input type="text" name="" />
		</div>
    </div> <!-- input-icon-border -->
</body>
</html>
