<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testimonials | centered-carousel-side-arrows</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
  <script src="/assets/js/carousel.js"></script>

<style>
</style>
</head>
<body>
  <div class="centered-carousel-side-arrows">
    <div class="testimonials-carousel">
      <figure class="testimonial mySlides fade">
        <q class="open-quote"></q>
        <blockquote class="quote">
          Freelancing is a constantly moving beast that is always growing, shaking, and shifting - the newsletter helps me keep an eye on where industry changes are happening as well as potential updates to my work processes and opportunities.</blockquote>
        <figcaption class="caption">
          <img src="" alt="">
          <cite class="citation">
            <strong>H.T.</strong>
          </cite>
        </figcaption>
      </figure>

      <figure class="testimonial mySlides fade">
        <q class="open-quote"></q>
        <blockquote class="quote">
          Freelancing is a constantly moving beast that is always growing, shaking, and shifting - the newsletter helps me keep an eye on where industry changes are happening as well as potential updates to my work processes and opportunities.</blockquote>
        <figcaption class="caption">
          <img src="" alt="">
          <cite class="citation">
            <strong>H.T.</strong>
          </cite>
        </figcaption>
      </figure>
      
      <figure class="testimonial mySlides fade">
        <q class="open-quote"></q>
        <blockquote class="quote">
          Freelancing is a constantly moving beast that is always growing, shaking, and shifting - the newsletter helps me keep an eye on where industry changes are happening as well as potential updates to my work processes and opportunities.</blockquote>
        <figcaption class="caption">
          <img src="" alt="">
          <cite class="citation">
            <strong>H.T.</strong>
          </cite>
        </figcaption>
      </figure>

      <a class="prev">❮</a>
      <a class="next">❯</a>      
    </div>

    <div class="dot-container">
      <span class="dot" data-slide="1"></span> 
      <span class="dot" data-slide="2"></span> 
      <span class="dot" data-slide="3"></span> 
    </div>
  </div>
</body>
</html>
