<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testimonials | centered-carousel-side-arrows</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="centered-carousel-side-arrows">
    <section class="testimonials">
      <figure class="testimonial">
        <q class="open-quote"></q>
        <blockquote class="quote">
          Freelancing is a constantly moving beast that is always growing, shaking, and shifting - the newsletter helps me keep an eye on where industry changes are happening as well as potential updates to my work processes and opportunities.</blockquote>
        <figcaption class="caption">
          <img src="" alt="">
          <cite class="citation">
            <strong>H.T.</strong>
          </cite>
        </figcaption>
      </figure>
    </section>
  </div>
</body>
</html>
