<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header navigation | Double row navigation</title>
  <link rel="stylesheet" media="screen" href="style.css">
</head>
<body>
  <div class="double-row-nav">
    <div class="double-row-nav__wrapper">
		<div class="double-row-nav__header-nav">
			<div class="double-row-nav__top-row">
				<div class="double-row-nav__nav-left">
					<div class="double-row-nav__media">
						<a href=""><img class="double-row-nav__nav-logo" src="/images/image-sm.png" alt="logo"></a>
					</div>
				</div>
				
				<div class="double-row-nav__nav-right">
					<div class="input-wrapper">
						<input class="full-rounded" type="text" />
					</div> 				
					<a href="">
					<span class="double-row-nav__top-nav-icon">
						<img src="">
					</span>
					</a>
				</div>
			</div>

			<div class="double-row-nav__sub-row">
				<nav class="double-row-nav__nav-links">
					<ol class="double-row-nav__link-list">
						<li class="double-row-nav__nav-item"><a href="">flexitarian</a></li>
						<li class="double-row-nav__nav-item"><a href="">flexitarian</a></li>
						<li class="double-row-nav__nav-item"><a href="">flexitarian</a></li>
					</ol>
				</nav>
			</div>
		</div>
    </div>
  </div>
</body>
</html>
