<!DOCTYPE html>
<html lang="en" target="_blank">
<head>
  <meta charset="UTF-8" target="_blank">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" target="_blank">
  <title>Component Library</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css" target="_blank">
  <script src="/assets/js"></script>
  </head>
  <body>
    <div class="container">
    <div class="portfolio">
        <figure class="featured">
            <img src="/assets/images/donkey.jpg" alt="Donkey" />
            <figcaption>Donkey</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/horse.jpg" alt="Horse" />
            <figcaption>Horse</figcaption>
        </figure>
        <figure class="featured">
            <img src="/assets/images/bear.jpg" alt="Bear" />
            <figcaption>Bear</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/whale.jpg" alt="Whale" />
            <figcaption>Whale</figcaption>
        </figure>
        <figure class="featured">
            <img src="/assets/images/dolphin.jpg" alt="Dolphin" />
            <figcaption>Dolphin</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/dog.jpg" alt="Dog" />
            <figcaption>Dog</figcaption>
        </figure>
        <figure>
            <img src="/assets/images/monkey.jpg" alt="Monkey" />
            <figcaption>Monkey</figcaption>
        </figure>                        
    </div>    
    </div>
  </body>
  </html>