<!-- /home/blue/webace/library/components/inputs/label-small-uppercase/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inputs | Label small uppercase</title>
  <link rel="stylesheet" media="screen" href="style.css">
<style>
</style>
</head>
<body>
	<div class="input-label-small-uppercase">
		<div class="wrapper">
			<div class="input-wrapper">
				<label class="input-label">Label</label>   
				<input type="text" name="input-label-small-uppercase" />
			</div>
		</div>
    </div> <!-- input-label-small-uppercase -->
</body>
</html>
