<!-- /home/blue/webace/library/components/sign-in-forms/two-pane-list/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
  <title>Sign in forms | Two-pane with image</title>
</head>
<body>
	<div class="feature-list-with-image">
		<div class="feature-list-with-image__wrapper">
			<div class="feature-list-with-image__double-pane-wrapper">
				<div class="feature-list-with-image__pane-wrapper">
					<div class="feature-list-with-image__image-container">
						<img src="">
					</div>
				</div>				
				<div class="feature-list-with-image__pane-wrapper">
					<div class="feature-list-with-image__content-wrapper">
						<header>
							<h2 class="feature-list-with-image__title">List header goes here</h2>
						</header>
						<div class="feature-list-with-image__column-wrapper">
							<div class="feature-list-with-image__item-wrapper">
								<div class="feature-list-with-image__media">
									<span class="icon"></span>
								</div>
								<div class="feature-list-with-image__item-body">
									<h3 class="feature-list-with-image__subtitle">Item subheading here</h3>
									<p class="feature-list-with-image__subtitle-copy">I'm baby gatekeep blackbird spyplane flexitarian yr vegan</p>
								</div>
							</div>						

							<div class="feature-list-with-image__item-wrapper">
								<div class="media">
									<span class="icon"></span>
								</div>
								<div class="feature-list-with-image__item-body">
									<h3 class="feature-list-with-image__subtitle">Item subheading here</h3>
									<p class="feature-list-with-image__subtitle-copy">I'm baby gatekeep blackbird spyplane flexitarian yr vegan</p>
								</div>
							</div>

							<div class="feature-list-with-image__item-wrapper">
								<div class="media">
									<span class="icon"></span>
								</div>
								<div class="feature-list-with-image__item-body">
									<h3 class="feature-list-with-image__subtitle">Item subheading here</h3>
									<p class="feature-list-with-image__subtitle-copy">I'm baby gatekeep blackbird spyplane flexitarian yr vegan</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div> <!--two-pane-container -->
		</div>
	</div> <!-- two-pane-list -->
</body>
</html>
