@layer modules.btn-vertical-gradient {

/* actual component wrapper, scope level */
.btn-vertical-gradient {

	.btn-vertical-gradient__wrapper {
		background-color: var(--white);}
		
	.btn-vertical-gradient__wrapper > * + * {
		margin-block-start: 30px; }

	.btn-wrapper {
		position: relative; }

	.btn--primary {
		display: inline-block;
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-lightest);
		letter-spacing: var(--tracking-xl);
		padding-inline: 1.15rem;
		line-height: 2.5;
		border: 0;
		border-radius: var(--size-radius-md);
		background: linear-gradient(to top, var(--gray-darkest), var(--gray-darker), var(--gray-dark));
		cursor: pointer;
		transition: background-color var(--transition-fast) ease-in-out; }

	.btn--primary:focus {
		background-color: var(--gray-dark);
		color: var(--gray-light); }
	
	.btn--primary:hover {
		background-color: var(--gray);
		color: var(--gray-darkest);}
	
	/* .btn--primary:active {} */
	
	.btn--secondary-1 {
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-darkest);
		letter-spacing: var(--tracking-xl);
		padding-inline: 1.15rem;
		line-height: 2;
		border: 0;
		border-radius: var(--size-radius-md);
		background: linear-gradient(to bottom, var(--gray-lightest), var(--gray-lighter), var(--gray-light));
		cursor: pointer; }
	
	.btn--secondary-2 {
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-dark);
		background-color: var(--white); 
		letter-spacing: var(--tracking-xl);
		padding-inline: 1.1rem;
		line-height: 2;
		border: 1px solid var(--gray);
		border-radius: var(--size-radius-md);
		cursor: pointer;}
	
	.btn--secondary-3 {
		font-family: var(--font-family-button);
		font-size: var(--font-size-button);
		color: var(--gray-darkest);
		background-color: var(--white); 
		letter-spacing: var(--tracking-xl);
		line-height: 2;
		padding-inline: 1.05rem;
/*		padding-block: 0.65rem; */
		border: 2px solid var(--gray);
		border-radius: var(--size-radius-md);
		cursor: pointer;}
	
}

}
