---
layout: default
---
<div class="portfolio">
        <figure class="featured">
            <img src="/images/donkey.jpg" alt="Donkey" />
            <figcaption>Donkey</figcaption>
        </figure>
        <figure>
            <img src="/images/horse.jpg" alt="Horse" />
            <figcaption>Horse</figcaption>
        </figure>
        <figure class="featured">
            <img src="/images/bear.jpg" alt="Bear" />
            <figcaption>Bear</figcaption>
        </figure>
        <figure>
            <img src="/images/whale.jpg" alt="Whale" />
            <figcaption>Whale</figcaption>
        </figure>
        <figure class="featured">
            <img src="/images/dolphin.jpg" alt="Dolphin" />
            <figcaption>Dolphin</figcaption>
        </figure>
        <figure>
            <img src="/images/dog.jpg" alt="Dog" />
            <figcaption>Dog</figcaption>
        </figure>
        <figure>
            <img src="/images/monkey.jpg" alt="Monkey" />
            <figcaption>Monkey</figcaption>
        </figure>                        
    </div>