<!-- /home/blue/webace/library/components/footers/footer-stacked/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footers | Legal with stacked navigation</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
	<div class="footer-stacked">
		<footer class="footer">
			<div class="legal">
				<ul class="legal__list">
					<li class="list-item">readymadekinfolkIm baby pok pok helvetica raclette, selvage succulents truffaut</li>
				</ul>
			</div>
       		<div class="nav">
				<ul class="nav__list">
					<li class="list-item"><a class="a" href="" class="link">readymadekinfolk</a></li>
				</ul>
				<ul class="nav__list">
					<li class="list-item"><a class="a" href="" class="link">readymadekinfolk</a></li>
					<li class="list-item"><a class="a" href="" class="link">readymadekinfolk</a></li>
				</ul>
				<ul class="nav__list">
					<li class="list-item"><a class="a" href="" class="link">readymadekinfolk</a></li>
					<li class="list-item"><a class="a" href="" class="link">readymadekinfolk</a></li>
				</ul>                    
			</div>
		</footer>
  </div>
</body>
</html>
