<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile cards | With supporting image</title>
  <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
<style>
</style>
</head>
<body>
  <div class="profile-4">
    <div class="profile-4__wrapper">
      <ol class="nav-wrapper">
        <li class="nav-item"><a href="">Account</a></li>
        <li class="nav-item"><a href="">Notifications</a></li>
        <li class="nav-item"><a href="">Security</a></li>
      </ol>
    </div>
  </div>
</body>
</html>
