@layer modules.centered-site-map-icons-legal {

.centered-site-map-icons-legal {}

	.footer {
		background-color: var(--white);
		border: 2px solid var(--gray);
		padding-block: 80px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 3fr; }
	
	.footer > * + * {
		margin-block-start: 20px;}
	
	.layer-1 {
		display: flex;
		justify-content: center; }

	.layer-1 .link-col {
		display: flex;
		flex-direction: column;
		align-items: center;}

	.layer-1 .link-col > * + * {
		margin-block-start: 12px;}

	.layer-1 > * + * {
		margin-inline-start: 30px; }
	
	.layer-2 {}
	.layer-2 .link-list {
		display: flex;
		justify-content: center;
		align-items: flex-end; 	}
	.layer-2 .link-list > * + * {
		margin-inline-start: 30px;}
		
	.layer-3 .link-list {
		display: flex;
		justify-content: center;
		align-items: flex-end; 	}
	.layer-3 .link-list > * + * {
		margin-inline-start: 30px;}
	.sitemap {}
	.social-media {}
	.link-col-title {
		font-family: var(--font-family-subheading); 
		font-size: var(--font-size-subheading);}
	.link-list {}
	.link-list > * + * {
		margin-block-start: 10px; }
	.list-item {
		display: block;}
	.link {}
	.icon {
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--gray);
		border-radius: var(--size-radius-circle); }
	.legal {}

}
