<!-- /home/blue/webace/library/components/footers/centered-site-map-icons-legal/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footers | Centered site map with icons and legal</title>
  <link rel="stylesheet" media="screen" href="style.css">
<style>
</style>
</head>
<body>
	<div class="centered-site-map-icons-legal">
		<div class="wrapper">
			<footer class="footer">
				<div class="layer-1 sitemap">
					<div class="link-col">
						<h2 class="link-col-title">Disruptfa</h2>
						<ul class="link-list">
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						</ul>
					</div>

					<div class="link-col">
						<h2 class="link-col-title">Disruptfa</h2>
						<ul class="link-list">
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						</ul>
					</div>
					<div class="link-col">
						<h2 class="link-col-title">Disruptfa</h2>
						<ul class="link-list">
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						</ul>
					</div>					
					<div class="link-col">
						<h2 class="link-col-title">Disruptfa</h2>
						<ul class="link-list">
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						</ul>
					</div>					
				</div>
				<div class="layer-2 social-media">
						<ul class="link-list">
							<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
							<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
							<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
							<li class="list-item"><a href="" class="link"><span class="icon"></span></a></li>
						</ul>
				</div>
				<div class="layer-3 legal">
						<ul class="link-list">
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
							<li class="list-item"><a href="" class="link">readymadekinfolk</a></li>
						</ul>
				</div>
			
			</footer>
		</div>
	</div>
</body>
</html>
